*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: auto;
}

.topContainer{
    background-color: #1F2937;
    justify-content: space-between;
    padding: 1% 10%;
    height: 400px;
}

.navContainer{
    background-color: #1F2937;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.navContainer .logo{
    flex-basis: 50%;
}

.navContainer-option{
    font-size:18px;
    color: rgba(220, 220, 220, 0.765);
}

.navContainer-option:hover{
    background-color: cornflowerblue;
}

.top-header-content-container{
    padding-top: 5%;
    display: flex;
}

.hero-layout-container{
    flex-basis: 50%;
}

.image{
    height:200px;
    background-color: #E5E7EB;
}

.hero-main-text{
    font-size:48px;
    font-weight: 800;
    color: #F9FAF8
}

.sign-up-button{
    background-color: #3882F6;
    color: white;
    border-radius: 3px; 
    padding: 10px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
}

.hero-logo-text{
    font-size:24px;
    font-weight: bold;
    color: #F9FAF8
}

.hero-secondary-text{
    font-size:18px;
    color: rgba(220, 220, 220, 0.765);
}

.generic-container{
    justify-content:center;
    height: 300px;
    background-color: white;
}

.information-header-text{
    text-align: center;
    padding-top: 1%;
    font-size:36px;
    font-weight: bold;
    color: #1F2937
}

.cards-container{
    display: flex;
    justify-content: center;
}

.card-container{
    height: 300px;
    width: 150px;
    padding: 3% 1%;
    align-items: center;
    text-align: center;
}

.card{
    border-radius: 10px; 
    height :150px;
    width: 150px;
    row-gap: 10px;
    border: 4px solid #3882F6;
}

.card-text{
    font-size:18px;
    border-color: none;
    color: darkgray;
}

.quote-section-container{
    height:200px;
    background-color: #E5E7EB;
    align-content: center;
    text-align: center;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    color:#1F2937;
    font-style: italic;
}

.call-to-action-container{
    padding: 2% 10%;
    height: 80%;
    width : 80%;
    align-items: center;
}

.call-to-action-card{
    padding: 2% 10%;
    display: flex;
    border-radius: 10px;
    background-color: #3882F6; 
}

.call-to-action-text-container{
    flex-basis: 60%;
}

.call-to-action-button-container{
    flex-basis: 40%;
    align-items: center;
    text-align: center;
}

.call-to-action-text-container .header{
    font-weight: bold;
    color: white;
}

.call-to-action-text-container .subtitle{
    color: darkgray;
}

.call-to-action-header-button{
    background-color: #3882F6;
    color: white;
    border-radius: 3px; 
    border : 2px solid white;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.call-to-action-header-text{
    color: white;
    font-weight: bold;
}

.bottomContainer{
    background-color: #1F2937;
    height: 100px;
    font-size: 16px;
    color: white;
    text-align: center;
    align-content: center;
}